#Python Course I - Weekly class demos and Exercises summary  
- (Mon, Wed) - (8am-10:30am) - (2.5h class/demos/labs) / 30 min practice
- Course I - 7 weeks
- Course II - 10 weeks

#Github Course Notebook Refence

https://github.com/deanliit/10-24-Python-Intro-to-Advanced

#Weekly Topics
 - intro to google colab,
 - vs.code extensions
- functions, return, parameters, default parameters
- import, date
- range, slicers, list comprehension
- min, max
- file i/o
- other

#Weekly Homework , Class Assignment, Class Project
- reccomended: Reading/review
  - w3schools reference
  - https://www.w3schools.com/python/
    - comment, varibles, data types, casting, input, array, loop
  - pdf ebook ref

- practice labs
 - create intro python code using google colabs
   - ie: print, markdown text
   
- exercises , course book pages
- pages:
   -

## Python references
https://www.w3schools.com/python/python_intro.asp
- Course book

### Class Quiz - Email link to google forms

<pre>
- 3 quizzes - similar to python entry level quiz
- multiple choice
- 6 multiple choice quesitons = 85%
- 1 code fill-in question
-- write code is vs.code - copy code in quiz
-- small example program -- %15
example: write a progarm to compute 2 values
optional/extra: create a startup program
input: prompt for each input
output: display items and total
hint:

num1 = input("num2")
num2 = input("num2")
total = int(num1) + int(num2)
print("total", total)

- take home
- approx. 1 week to complete
- quiz is similar question to python Entry Level Exam. Some question from Associate Exam
- review quiz in class

</pre>

<pre>

---------------------------------------------
#Course I Module Summary
-----------------------------------------------

https://www.w3schools.com/python/python_intro.asp

# Module 1
---------------------------
Python fundamentals
Data type
Variables
Input
for, while loop
Other

# Module 2
----------------------------
Array index
Slicers, list comprehension  
Functions
File input
Other

# Module 3
--------------------------------
Data structures
Array, set, list, tuple, map
Classes
Lamda
Other

#optional - Module 4
---------------------------------
Intro to data analyst using python
Pandas, numpy
SQL
Other

</pre>

In [ ]:
"""
functions, return, parameters, default parameters
import, date
range, slicers, list comprehension
min, max
file i/o
other
"""

In [ ]:
#functions-demo-1.py
#functions, return, parameters, default parameters
#https://www.w3schools.com/python/python_functions.asp
"""
functions:
giving a group of code statement/code blocks a name
as you write more larger application you can optimizae code into functions
- mainly used to refactor repeated code, simplify/reduct large code blocks
- for code re-use
- example: if code block is > 20 lines of code
- fucntions
- can have input parameters
- can have default parameters
- return data
"""

def funct1():
  print("code statment") #no input parameter
  #any valid pyhton code

def funct2(param1):
  print("code statment: ", param1)  #parameter can be any valid data type
  #any valid pyhton code

def funct3(param1, param2):
  print("code statment: ", param1, param2) #parameter can be any valid data type
  #any valid pyhton code

def funct4(param1, param2, param3):
  print("code statment: ", param1, param2, param3) #parameter can be any valid data type
  #any valid pyhton code
  return (param1 + param2 + param3)

#call a fucntions
funct1()
funct2(1)
funct3(2,3)
total = funct4(4,5,6)
print("total: ", total)

code statment
code statment:  1
code statment:  2 3
code statment:  4 5 6
total:  15

In [ ]:
#functions-demo-2".py
#functions, return, parameters, default parameters
#https://www.w3schools.com/python/python_functions.asp

#default parameters
def functa(param1="a"):
  print("code statment", param1) #no input parameter
  #any valid pyhton code

functa()
functa("")
functa(None)
functa("1")

code statment a
code statment
code statment None
code statment 1

In [5]:
#providing a default parameter makes the paramater optional
def functa(param1=1, param2=2):
  print("codea statment: ", param1,",", param2)
  #any valid pyhton code

#param1 is required because parameter 2 and 3 are optional
def functb(param1, param2=2, param3=3):
  print("codeb statment: ", param1,",", param2, param3)
  #any valid pyhton code

#default praameter error
#last pramater must not be null if pervious default paramaters defined
#def functc(param1=1, param2=2, param3):
def functc(param1=1, param2=2, param3=3):
  print("codec statment: ", param1,",", param2)
  #any valid pyhton code

functa()
functa("")
functa(None)

print()
#functb("a",,) #error
functb("a","b",)

codea statment:  1 , 2
codea statment:   , 2
codea statment:  None , 2
codeb statment:  a , b 3

In [13]:
#multi parameters, ie: mult argument paramaters

def functa(*args):
  print("*args len: ", len(args))
  print("codea statment: ", args[0])
  #loop though args
  #any valid pyhton code

#**args = dict
def functb(**args):
  print("*args = dict len: ", len(args))
  print("codea statment: ", args["a1"])
  #loop though args
  #any valid pyhton code

def functc(args):
  print("collection args len: ", len(args))
  print("codea statment: ", args[0])
  #loop though args
  #any valid pyhton code

functa("a","b","c",1)
print()
#key = variable
functb(a1=1,b1=2,c1=3,d1=1)
print()
#functc("a","b","c",1) #error
functc(("a","b","c",1))

*args len:  4
codea statment:  a

*args = dict len:  4
codea statment:  1

collection args len:  4
codea statment:  a

In [21]:
#import statement
#include addition codes libraries as requried from python or other companies
#sometimes will install additional libraries before importing

#built in additional pyhon library to retieve system date/time
import datetime

#use library
#from datatime library documentaion
#https://www.w3schools.com/python/python_datetime.asp
_date_time = datetime.datetime.now() #retieve system date/time

print(_date_time)
print()
print("month:",_date_time.month)
print("day:",_date_time.day)
print("year:",_date_time.year)
print()
print("hour:",_date_time.hour)
print("min:",_date_time.minute)
print()
print(_date_time.strftime("%d/%m/%y"))
print(_date_time.strftime("%H:%M"))

#build-in function whihc yiou do not have to inport
#sum,print,min,max, other

2024-12-04 15:06:56.917146

month: 12
day: 4
year: 2024

hour: 15
min: 6

04/12/24
15:06